<html>
<head>
  <title>Players List</title>
</head>
<br />
<body >
  <div class="container" style="padding:10px;">
  <div class="row">
    <div class="col-12">
      <h3 class="col-10" >If you want to add new player, Click here -> <a routerLink="/home/add-player"><i class="fas fa-edit"></i></a></h3>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-12">
      Enter a value to delete: <input type="number" id="deleteId" #deleteId class="form-control">
      <button class="btn btn-danger my-2" type="submit"  (click)="onDelete(deleteId.value)">Delete Player</button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-12">
      <div  class="list-group-item">
        <div>
          <table class="table" style="font-size:1.2em;">
              <tr style="background-image: linear-gradient(pink,lightsteelblue);">
                <th>Id</th>
                <th>Player Name</th>
                <th>Age</th>
                <th>contact Number</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Sports Name</th>
              </tr>
              <tr *ngFor="let p of playersList">
                <td>{{p.playerId}}</td>
                <td>{{p.playerName}}</td>
                <td>{{p.age}}</td>
                <td>{{p.contactNumber}}</td>
                <td>{{p.email}}</td>
                <td *ngIf="p.gender == 1" >Male</td>
                <td *ngIf="p.gender == 2" >Female</td>
                <td>{{p.sports.sportName}}</td> 
              </tr>
          </table>
          <!-- <h4 class="d-inline list-group-item-heading">Player Id: {{p.playerId}}</h4><br />
          <h4 class="list-group-item-heading">Player Name: {{p.playerName}}</h4>
          <p class="list-group-item-text">Age: {{p.age}}</p>
          <p class="list-group-item-text">Contact Number: {{p.contactNumber}}</p>
          <p class="list-group-item-text">Email: {{p.email}}</p>
          <p *ngIf="p.gender == 1" class="list-group-item-text">Gender: Male</p>
          <p *ngIf="p.gender == 2" class="list-group-item-text">Gender: Female</p>
          <p class="list-group-item-text">Sports Name: {{p.sports.sportName}}</p> -->
        </div>
      </div>
    </div>
  </div>
  <hr />
</div>
</body>
</html>
